.con1 {
  width: 600px;
  margin-bottom: 40px;
}
.con2_box {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.con2_box img {
  width: 50%;
}
.con2_box .con2_in_box {
  width: 45%;
}
.con3_box {
  margin-top: 30px;
}
.con3_box img {
  width: 1005;
}
.con_doubel_box {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.lanmes_img img {
  width: 100%;
}
.five_info_box {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.five_info_box .five_info_box_item {
  width: 28%;
  margin-bottom: 60px;
}
